// carbon overrides
$input-label-weight: 400!default;
$button-border-width: 1px!default;
$box-shadow: rgba(0,0,0,.1)!default;

$brand-01: #314255!default;
$brand-01-light: #68829E!default;
$brand-03: #FD7400!default;
$ui-01: #FFFFFF!default;
$ui-02: #EBF0F7!default;
$ui-03: #DAE3EE!default;
$field-01: #FFFFFF!default;
$text-03: #8C9BA5!default;

// custom variables
$breakpoint-fixed-menu: 'lg' !default;
$form-item-margin-bottom : 1.5rem !default;